body {
    margin: 0;
    padding: 0;
}

.card {
    width: 10rem;
    height: 15rem;
    border: 5px;
    border-style: solid;
    border-color: red;
}

.card:hover {
    border-color: green;
}

.card-hand {
    position: absolute;
}

.hand {
    position: fixed;
    display: flex;
    justify-content: center;
    bottom: 0;
    height: 20rem;
    width: 100%;
    padding-inline-start: 0;
}

.table {
    justify-content: center;
    display: flex;
    align-items: center;
    position: relative;
}