* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

body {
    background-color: black;
}

.card {
    width: 9rem;
    height: 16rem;
    border: 5px;
    border-radius: 1rem;
    border-style: solid;
    border-color: gray;
    background-color: rgba(0, 0, 0, 0.8);
    color: gray;
    font-size: 3rem;
    z-index: 1;
    box-shadow: 0 0;
    transition: all 0.5s cubic-bezier(0, 0.7, 0, 0.7);
}
.card p {
    padding-left: 10px;
}

.card:hover {
    color: whitesmoke;
    border-color: whitesmoke;
    box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.5);
    transform: translateY(-2rem) scale(1.1);
}

.card-hand {
    position: absolute;
    transition: transform 0.5s cubic-bezier(0.2, 0.8, 0.2, 1.2);
}

.hand {
    position: fixed;
    display: flex;
    justify-content: center;
    bottom: 0;
    height: 40vh;
    width: 100vw;
    padding-inline-start: 0;
}

.table {
    justify-content: center;
    display: flex;
    align-items: center;
    position: relative;
}