/* Colors for light color scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme=light],
:root:not([data-theme=dark]),
:host:not([data-theme=dark]) {
  --pico-color: #1f241f;
  --pico-background-color: #eaeee8;
}

/* Colors for dark color scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]),
  :host:not([data-theme]) {
  }
}
/* Colors for dark color scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme=dark] {
}

:root {
  --card-height: 10rem;
}

svg.icon {
  width: 1em;
  height: 1em;
  color: inherit;
  vertical-align: bottom;
}

.card {
  height: var(--card-height);
  aspect-ratio: 2 / 3;
  border-radius: calc(var(--card-height)*0.025);
  background: #ffffff;
  border: 1px solid #efefef;
  padding: calc(var(--card-height)*0.05);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  color: var(--pico-color);

  .rank {
    font-weight: 700;
  }

  .top {
    align-self: flex-start;
  }

  .bottom {
    align-self: flex-end;
    transform: rotate(180deg);
  }

  .suit {
    font-size: 2em;
  }
}

#hero-deck {
  display: grid;
  grid-template: 1fr / 1fr;
  place-content: center;
  place-items: center;

  .card {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
  }
}

