:root {
  --background-color: #f0eee9;
  --primary-color: #23573a;
  --text-color: #141311;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background: var(--background-color);
  color: var(--text-color);
  font-family: "sans-serif";
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
  background: var(--background-color);
  height: 3rem;
  font-size: 1.5rem;
  padding: 0 1rem;
  border: 1px solid var(--text-color);
  border-radius: 999rem;
}

button.small {
  height: 2rem;
  font-size: 1rem;
  padding: 0 0.875rem;
}

button.primary {
  --text-color: var(--background-color);
  background: var(--primary-color);
  color: var(--background-color);
}

.container {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

header.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

section {
  border-bottom: 1px solid #808080;
  height: 50vh;
}
